# Ignore compiled classes
*.class

# Ignore libraries
*.jar

# Ignore IDE file that may be overwritten by different platforms
.classpath
.DS_Store
.project
.settings

# Ignore cached file
*.cache.*

# Ignore some bin file
ContactBookBusiness/bin/
